@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&family=Libre+Baskerville&family=M+PLUS+1+Code:wght@100;300&family=Mukta:wght@200&family=Open+Sans:wght@300;400&family=Orbitron:wght@500&family=Outfit:wght@200;300&family=Special+Elite&display=swap");

body {
  margin: 0;
  font-family: "Orbitron", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: green;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button {
  font-weight: bolder;
  color: green;
  width: 20px;
  border-radius: 25px;
  background: hsla(333, 100%, 53%, 1);

  background: linear-gradient(
    90deg,
    hsla(333, 100%, 53%, 1) 0%,
    hsla(325, 71%, 70%, 1) 50%,
    hsla(33, 94%, 57%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(333, 100%, 53%, 1) 0%,
    hsla(325, 71%, 70%, 1) 50%,
    hsla(33, 94%, 57%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(333, 100%, 53%, 1) 0%,
    hsla(325, 71%, 70%, 1) 50%,
    hsla(33, 94%, 57%, 1) 100%
  );
  color: purple;

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF0F7B", endColorstr="#E97CBB", GradientType=1 );
}

html,
body {
  height: 100%;
}

body {
  background: hsla(186, 33%, 94%, 1);

  background: linear-gradient(
    90deg,
    hsla(186, 33%, 94%, 1) 0%,
    hsla(216, 41%, 79%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(186, 33%, 94%, 1) 0%,
    hsla(216, 41%, 79%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(186, 33%, 94%, 1) 0%,
    hsla(216, 41%, 79%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EBF4F5", endColorstr="#B5C6E0", GradientType=1 );
}
.wide {
  display: flex;
  justify-content: center;
}

.calculator {
  box-shadow: 1px 1px grey;
  background: hsla(197, 100%, 63%, 1);

  background: linear-gradient(
    90deg,
    hsla(197, 100%, 63%, 1) 0%,
    hsla(283, 33%, 46%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(197, 100%, 63%, 1) 0%,
    hsla(283, 33%, 46%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(197, 100%, 63%, 1) 0%,
    hsla(283, 33%, 46%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#40C9FF", endColorstr="#874F9E", GradientType=1 );
  border-radius: 25px;
  margin-top: 30px;
  border: solid;
  border-color: green;
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.screen {
  box-shadow: 1px 1px grey;
  display: flex;
  align-content: center;
  border-radius: 15px;
  border: solid;
  border-width: 2px;
  border-color: green;
  text-shadow: 1px 1px grey;
  min-height: 50px;
  /* background-color: pink; */
  padding: 5px;
  font-size: 25px;
  background: hsla(31, 90%, 76%, 1);

  background: linear-gradient(
    90deg,
    hsla(31, 90%, 76%, 1) 0%,
    hsla(302, 82%, 76%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(31, 90%, 76%, 1) 0%,
    hsla(302, 82%, 76%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(31, 90%, 76%, 1) 0%,
    hsla(302, 82%, 76%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F9C58D", endColorstr="#F492F0", GradientType=1 );
}

.operators {
  display: flex;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.numbers button {
  flex: 11;
  flex: 0 0 33.333333%;
}
.operators {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}
.operators button {
  flex: 11;
  flex: 0 0 33.333333%;
}

.results {
  margin-top: 10px;
  display: flex;
}
#equals {
  border-radius: 25px;
  flex: 11;
  flex: 0 0 50%;
}
#AC {
  border-radius: 25px;
  flex: 11;
  flex: 0 0 50%;
}
